
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Книжный магазин</title>
</head>
<body>
   <div>
       <ul>
           @foreach (var order in ViewBag.Orders)
            {
            <li>@order.Name</li>
           }
           
       </ul>
   </div>
</body>
</html>